body{
    background-color: lightblue;
    font-family: 'Arial', 'verdana' , sans-serif;
    font-size: 12px;
}

h1,h2,h3{
    font-family: 'Arial', 'verdana', sans-serif;
    font-weight: bold;

}

#h1{
    text-align: center;
    font-size: 3em;
}

#paragraph2{
    padding: 10px 30px 10px;
    border-width: 3px;
    border-style: solid;
    border-color: darkgreen;
    margin-left: 10px;
    margin-right: 500px;
    background-color:white;
    line-height: 20px;

}

.blue{
    background-color: darkblue;
    color: white;
    padding: 15px 15px 15px 15px;
}

a{
    color: darkblue;
}
.a{
    color: blueviolet;
}
li{
    list-style-type: decimal-leading-zero;
    padding-top: 5px;
    margin-left: 0
}

#ol{
    padding-left: 20px;
}
th{
    border: 1px solid;
    border-collapse: collapse;
    background-color: lightgray;
    padding: 5px,15px,5px;
}

table,td{
    border:  1px solid;
    border-collapse: collapse;
    background-color: white;
    padding: 10px;
}